<hr>
<div id="Contact"><!-- added this id to use for anchor tags-->
  <h1>Contact SF311 for a Cleanup</h1>

  <h2>By Phone</h2>
  <p>
    Dial 3-1-1 (within SF only)<br>
    or 415-701-2311;<br>
    TTY direct 415-701-2323<br>
    24 hours a day, 365 days a year<br>

  <h2>By Twitter</h2>
  <p><%= link_to("Twitter Name: SF311", "https://twitter.com/sf311") %><br>
    SF311 monitors their twitter account, and will likely respond to cleanup requests through a tweet. Your tweet needs to describe what your request is, the location, and it helps them when you add a photo.

  <h2>Through iPhone or Android Apps</h2>
  <p>You may want to download the official SF311 smartphone apps if you'll be frequently using 311 (they process a variety of requests, not just poo cleanups; for example pet adoption, lost pets, building permit issues). The apps streamline the process of making and tracking requests.<br> 

  <p><%= link_to(image_tag("iphone-get-sf311-app-image.jpg", :alt => "Get the SF311 iPhone App"), "https://itunes.apple.com/us/app/sf311/id666635420?mt=8") %>

  <p><%= link_to(image_tag("android-get-sf311-app-image.jpg", :alt => "Get the SF311 Android App"), "https://play.google.com/store/apps/details?id=org.sfgov.sf311") %>

  <h2>Through the Official Website:</h2>
  <p>You can submit a request on the SF311 website, but as of this writing, navigating their website and filling out their web form may be less convenient than calling in a request.

  <p>The main SF311 service request page is here:<br> 
    <%= link_to("San Francisco 311: Request Service Page", "http://www.sf311.org/index.aspx?page=3") %>

  <p>A common case is street and sidewalk cleaning, which you can find here:<br>
    <%= link_to("SF 311: Street and Sidewalk Cleaning Request Service", "http://www.sf311.org/index.aspx?page=109") %><br> 
    (The option for 'Sidewalk Cleaning' 'Other locations' will eventually have a sub-menu of 'human waste or urine'.)

  </div><!-- end of Contact div-->
