<hr>
<div id="Districts"><!-- added id to use for anchor tag--> 
  <h1>Cleanups in San Francisco Districts</h1>

  <div class="container-fluid">
    <div class="row">
      <% @districts.each do |district| %>
        <div class="col-md-4 district-col">
          <h2>District <%= district.district_number %></h2>
          <%= image_tag(@placeholder_url, alt: "District Image") %>
          <h5>Cleanups</h5>
          <ul>
            <% district_cleanups_count = district.cleanups.size %> 
            <li><%= district_cleanups_count %> -  Total # during period</li>
            <li><%= district_cleanups_count / 6 %> - Average # per month</li>
          </ul>
        </div><!-- class col-md-4 district-col --> 
      <% end %>

      <div class="col-md-4 district-col all-districts">
        <h2>All Districts</h2>
        <%= image_tag(@placeholder_url, alt: "District Image") %>
        <h5>Cleanups</h5>
        <ul>
          <% all_cleanups_count = Cleanup.where("supervisor_district > 0").size %>
          <li><%= all_cleanups_count %> - Total # cleanups during period</li>
          <li><%= all_cleanups_count / 6 %> - Average # cleanups per month</li>
        </ul>
      <div><!-- end of class="col-md-4 district-col all-districts"-->
    </div><!-- row--> 
  </div><!-- container-fluid-->

</div><!-- id=Districts-->
