<p>This website pays tribute to the cleaning up of peoples' 'tributes' to the City of San Francisco, that is, their public human waste.  Cleanup data is provided by San Francisco's Open Data project (<%= link_to 'data.sfgov.org', 'https://data.sfgov.org' %>). Find out how active your district was with clean ups!

  <h1>Districts</h1>

  <ul>
    <li>
      <h2>District X</h2>
      <%= image_tag(@placeholder_url, alt: "District Image") %>
      <ul>
        <li>Total 5 year: XXX</li>
        <li>Average per month:  XXX</li>
      </ul>
    </li> 
    <li>
      <h2>District X</h2>
      <%= image_tag(@placeholder_url, alt: "District Image") %>
      <ul>
        <li>Total 5 year: XXX</li>
        <li>Average per month:  XXX</li>
      </ul>
    </li> 
    <li>
      <h2>District X</h2>
      <%= image_tag(@placeholder_url, alt: "District Image") %>
      <ul>
        <li>Total 5 year: XXX</li>
        <li>Average per month:  XXX</li>
      </ul>
    </li> 
    <li>
      <h2>District X</h2>
      <%= image_tag(@placeholder_url, alt: "District Image") %>
      <ul>
        <li>Total 5 year: XXX</li>
        <li>Average per month:  XXX</li>
      </ul>
    </li> 
    <li>
      <h2>District X</h2>
      <%= image_tag(@placeholder_url, alt: "District Image") %>
      <ul>
        <li>Total 5 year: XXX</li>
        <li>Average per month:  XXX</li>
      </ul>
    </li> 
    <li>
      <h2>District X</h2>
      <%= image_tag(@placeholder_url, alt: "District Image") %>
      <ul>
        <li>Total 5 year: XXX</li>
        <li>Average per month:  XXX</li>
      </ul>
    </li> 
    <li>
      <h2>District X</h2>
      <%= image_tag(@placeholder_url, alt: "District Image") %>
      <ul>
        <li>Total 5 year: XXX</li>
        <li>Average per month:  XXX</li>
      </ul>
    </li> 
    <li>
      <h2>District X</h2>
      <%= image_tag(@placeholder_url, alt: "District Image") %>
      <ul>
        <li>Total 5 year: XXX</li>
        <li>Average per month:  XXX</li>
      </ul>
    </li> 
    <li>
      <h2>District X</h2>
      <%= image_tag(@placeholder_url, alt: "District Image") %>
      <ul>
        <li>Total 5 year: XXX</li>
        <li>Average per month:  XXX</li>
      </ul>
    </li> 
    <li>
      <h2>District X</h2>
      <%= image_tag(@placeholder_url, alt: "District Image") %>
      <ul>
        <li>Total 5 year: XXX</li>
        <li>Average per month:  XXX</li>
      </ul>
    </li> 
    <li>
      <h2>District X</h2>
      <%= image_tag(@placeholder_url, alt: "District Image") %>
      <ul>
        <li>Total 5 year: XXX</li>
        <li>Average per month:  XXX</li>
      </ul>
    </li> 
  </ul>
