<div class="row">
  <div class="col-md-6">
    <h1>San Francisco Human Waste Cleanups</h1>

    <h4>Pee and poo - we all do it, some more publicly than others.</h4> <p><%= link_to("San Francisco's 311 Agency", "http://www.sf311.org/") %> takes calls to clean up 'human waste or urination' cases (which also include blood and vomit) that occur in public areas like sidewalks, streets and alleys.

      <h4>How many cleanups occur?</h4><p>SF311 provides the <%= link_to("San Francisco Open Data Project", "https://data.sfgov.org") %> with their case information. The dataset from a 6 month stretch in 2013<sup><%= link_to("1", "#citation-1") %></sup> revealed 3600+ human waste cleanups, an amazing number given the small 49 square mile footprint the city occupies. In the section below, you can glance at how the 3600+ cases break down within each of SF's 11 districts, as well as SF as a whole.

        <h4>See or smell human feces?</h4> <p>Do you see(or smell) human excrement, urine, blood or vomit while out and about in San Francisco? Check the <%= link_to("Contact section", @contact_url) %> on how to request a cleanup. 
    
  </div>
  <div class="col-md-6">
    <%= image_tag(@hero_image, alt: "Hero Image", class: "hero-image") %>
  </div>
</div><!-- class row -->  

<%= render 'districts' %>

<%= render 'contact' %>

<%= render 'references' %>

