<!DOCTYPE html>
<html>
  <head>
    <title>SF Human Waste Cleanups</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>
  <body>
    <%= render 'layouts/topnav' %>
    <div class="container">
      <%= yield %>
    </div>

      <footer>
      <hr>
      <small>Copyright &copy; 2014.</small><br>
      </footer>

    </body>
  </html>
