<!DOCTYPE html>
<html>
  <head>
    <title>SF-HWCU: San Francisco Human Waste Clean Up</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>
  <body>
    <%= render 'layouts/topnav' %>
    <div class="container">
      <%= yield %>
    </div>

      <footer>
      <small>&copy; 2014.</small><br>
      <small>Various San Francisco District images by <a href="//commons.wikimedia.org/wiki/user:kurykh" title="user:kurykh">kurykh</a> - <span class="int-own-work">own work</span>. Licensed under <a href="http://creativecommons.org/licenses/by-sa/3.0" title="creative commons attribution-share alike 3.0">cc by-sa 3.0</a> via <a href="//commons.wikimedia.org/wiki/">wikimedia commons</a>. Example of District 1: <a href="http://commons.wikimedia.org/wiki/File:San_Francisco_District_1_(2012).svg#mediaviewer/File:San_Francisco_District_1_(2012).svg">San Francisco District 1 (2012)</a></small> 
      </footer>

    </body>
  </html>
